@import "vars";
@import "fonts";
@import "libs";
@import "components";
@import "modal";
@import "_mixins/mixins";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: $default-font;
  line-height: initial;
  overflow-x: hidden !important;
  color: $text;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

.wrapper {
  overflow: hidden;
}

a {
  &:hover {
    text-decoration: none;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item__title,
.arif-btn,
.boy-section__heading,
.brand-description,
.copyright,
.h2,
.header-nav-list,
.header__brand-description,
.header__nav,
.header__phone,
.main-section__heading,
.main-section__subheading,
.monitor-list__heading,
.price,
.prices-item__title,
.question,
.scroll-bottom,
.share-text,
.teacher-info,
.teacher-name,
.video-section__subheading {
  text-transform: uppercase;
  font-family: Pribambas;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.arif-btn {
  transition: 0.3s;
  color: $text;

  &:hover {
    box-shadow: 0 0 19px 0 #ff9c22;
    background-color: #ff9c22;
  }
}

a.arif-btn {
  &:hover {
    color: $text;
  }
}

.arif-input-group {
  margin-bottom: 20px;
}

.arif-input {
  line-height: 40px;
  border-radius: 30px;
  padding: 0 15px;
  border-color: #a5a5a5;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-slide {
  margin: 0 10px;
  outline: none !important;
}

.slick-list {
  margin: 0 -10px;
}

.slick-dots {
  bottom: -45px;

  li {
    button {
      transition: all 0.2s;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid $orange;

      &::before {
        display: none;
      }
    }

    &.slick-active {
      button {
        transform: scale(1.5);
        background-color: $orange;
      }
    }
  }
}

.dashed-block {
  &__inner {
    position: relative;
  }

  &__title {
    display: block;
    font-family: Pribambas;
    margin: -20px 0 20px;
    font-size: 30px;
  }
}

.play-btn {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: contain !important;
  cursor: pointer;

  &--blue {
    background: url("../img/blue-play.svg");
  }

  &--orange {
    background: url("../img/orange-play.svg");
  }
}
//============================================ HEADER ====================================================

.header {
  height: 120px;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: all 0.4s;
  display: flex;
  align-items: center;

  .header__contacts {
    div {
      text-transform: uppercase;
      font-family: Pribambas;
      font-weight: normal;
      letter-spacing: 0.03em;
      max-width: 170px;
      text-align: right;
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 45px;
      position: absolute;
      bottom: -140px;
      right: 0;

      a {
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 0 5px;
        border-radius: 50px;
        background: $blue;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.4s ease-in-out;

        &:hover {
          background: $orange;
        }
      }

      &__icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  .header__phone {
    transition: 0.4s;
    position: relative;
    text-align: right;
  }

  .arif-btn {
    transition: 0.4s;
  }

  &.header-scrolled {
    box-shadow: 0 2px 10px 0 rgba(41, 34, 254, 0.19);
    background-color: #fff;
    height: 80px;

    .header__phone {
      transform: translateY(-30px);
      opacity: 0;
    }

    .header__contacts div {
      transform: translateY(-50px);
      display: none;
      opacity: 0;
    }

    .header__contacts .social {
      transform: translateY(-50px);
      display: none;
      opacity: 0;
    }

    .arif-btn {
      position: absolute;
      transform: translateY(-39px);
    }

    &::after {
      opacity: 1;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    display: flex;
    align-items: center;

    &-description {
      font-size: 14px;
      line-height: 15px;
      display: inline-block;
      text-align: center;
      max-width: 107px;
      margin-left: 14px;
    }
  }

  &__nav {
    font-size: 22px;

    &__list {
      display: flex;

      li {
        line-height: 48px;
      }
    }

    a {
      padding: 10px 20px;
      transition: 0.3s;
      position: relative;

      &:hover {
        color: $orange;

        span {
          &::after {
            width: 100%;
          }
        }
      }
    }

    span {
      display: inline-block;
      position: relative;

      &::after {
        bottom: 0;
        display: block;
        width: 0;
        height: 7px;
        background: url("../img/nav-underline.svg") no-repeat center;
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
      }
    }
  }

  &__contacts {
    position: relative;

    .arif-btn {
      position: absolute;
      right: 0;
      top: calc(100% + 10px);
      min-width: 157px;
      display: block;
      transition: all 0.4s;
    }
  }

  &__phone {
    display: block;
    font-size: 25px;
  }
}
//============================================ MAIN SECTION ====================================================

.main-section {
  @include bg("main-section-bg.svg");
  padding-top: 140px;
  position: relative;

  &__full-logo {
    padding-right: 40px;
  }

  &__heading {
    font-size: 55px;
    margin: 140px 0 42px;
  }

  &__subheading {
    margin-bottom: 65px;
  }
  @at-root .scroll-bottom {
    @include p-center;
    bottom: 32px;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 24px;
      background: url("../img/scroll-arrow.svg");
      background-size: cover;
      position: absolute;
      left: -20px;
      bottom: 0;
      animation: bounce 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }
  @keyframes bounce {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      transform: translate3d(0, 10px, 0);
    }
  }
}
//============================================ VIDEO SECTION ====================================================

.video-section {
  @include bg("video-section-bg.svg");
  background-color: $blue;
  padding: 0 0 70px;

  .h2 {
    max-width: 310px;
    margin: 0 auto 43px;
  }

  &__subheading {
    font-size: 25px;
    text-align: center;
    max-width: 395px;
    margin: 40px auto;
  }

  .dashed-block {
    max-width: 980px;
    margin: auto auto 50px;
  }
}
//============================================ BOY SECTION ====================================================

.boy-section {
  @include bg("boy-section-bg.svg");
  position: relative;

  &__inner {
    min-height: 810px;
  }

  &__left {
    .dashed-block {
      transform: translateX(-100px);
    }

    .boy-section__list {
      &-item {
        border-bottom: 5px solid #ccc;
        margin-left: 40px;
        transition: 0.4s;

        &.hover {
          color: $blue;
        }

        &.active {
          color: $blue;
          margin-left: 0;
          border-bottom: 5px solid $blue;

          &::after {
            background: linear-gradient(100.3deg, $blue 47.77%, rgba(5, 165, 239, 0) 98.52%);
          }
        }

        &:first-child {
          &::after {
            transform: rotate(14deg);
          }
        }

        &:last-child {
          &::after {
            transform: rotate(-14deg);
          }
        }

        &::after {
          transform-origin: left;
          background: linear-gradient(100.3deg, #ccc 47.77%, rgba(5, 165, 239, 0) 98.52%);
          left: 100%;
        }
      }
    }
  }

  &__right {
    .dashed-block {
      right: 0;
      transform: translateX(100px);
    }

    .boy-section__list {
      &-item {
        border-bottom: 5px solid #ccc;
        transition: 0.4s;
        margin-right: 40px;

        &.hover {
          color: $orange;
        }

        &.active {
          margin-right: 0;
          color: $orange;
          border-bottom: 5px solid $orange;

          &::after {
            background: linear-gradient(-90deg, $orange 52.35%, rgba(255, 162, 9, 0) 94.8%);
          }
        }

        &:first-child {
          &::after {
            transform: rotate(-14deg);
          }
        }

        &:last-child {
          &::after {
            transform: rotate(14deg);
          }
        }

        &::after {
          transform-origin: right;
          background: linear-gradient(-90deg, #cccccc 52.35%, rgba(255, 162, 9, 0) 94.8%);
          right: 100%;
        }
      }
    }

    .dashed-block {
      margin-left: auto;
    }
  }

  &__heading {
    font-size: 45px;
    margin-bottom: 98px;

    &--left {
      padding-left: 50px;
    }

    &--right {
      text-align: right;
      padding-right: 50px;
    }
  }

  &__list {
    font-family: Bloggersans;
    font-size: 22px;
    letter-spacing: 0.03em;
    margin-bottom: 80px;

    &-item {
      //margin-bottom: 60px;
      margin-bottom: 30px;
      max-width: 240px;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 5px;
        position: absolute;
        width: 310px;
        z-index: 10;
      }

      .deg45 {}

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--right {
      text-align: right;

      li {
        margin-left: auto;
      }
    }
  }

  .dashed-block {
    position: absolute;
    max-width: 385px;
    border-radius: 32px;
    padding: 7px;
    color: #fff;
    font-size: 22px;
    font-family: Bloggersans;
    transition: 0.8s;
    transform: scale(0.5);
    opacity: 0;

    &.active {
      opacity: 1;
      display: block;
      transform: translateX(0px) scale(1);
    }

    &__inner {
      border-radius: 28px;
      padding: 25px 18px;
    }
  }

  .boy {
    @include p-center;
    top: 112px;
  }

  .arif-btn {
    margin: 100px auto 0;
    display: block;
  }
}
//============================================ ADVANTAGES SECTION ============================================

.advantages-section {
  padding-bottom: 0;

  .h2 {
    margin-bottom: 90px;
  }
  @at-root {
    .advantage-item {
      margin-bottom: 90px;

      &__icon {
        width: 70px;
        height: 70px;
        margin: 0 auto 20px;

        img {
          height: 70px;
          width: 100%;
          object-fit: contain;
        }
      }

      &__title {
        font-size: 18px;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  .boy-white {
    position: absolute;
    right: -400px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}
//============================================ ABOUT AS SECTION ==============================================

.about-as-section {
  @include bg("about-as-section-bg.svg");
  padding: 150px 0;

  .h2 {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 280px;
      height: 220px;
      background: url("../img/about-as-arrow.svg") no-repeat;
      background-size: cover;
      position: absolute;
      top: -219px;
      left: -110px;
    }
  }

  &__slider {}

  &__slide {
    outline: none !important;

    &:hover {
      outline: none;
    }
  }

  .arif-btn {
    display: block;
  }

  &__inner {
    margin-top: 140px;
    display: inline-block;
  }

  .subheading {
    font-family: Bloggersans;
    font-size: 22px;
    display: block;
    margin-bottom: 45px;
  }
}
//============================================ STOCK SECTION ==============================================

.stock-section {
  @include bg("stock-section-bg.svg");
  background-color: $blue;
  padding: 170px 0;

  .h2 {
    margin-bottom: 46px;
  }

  .subheading {
    font-family: Bloggersans;
    font-size: 20px;
    max-width: 345px;
    margin-bottom: 35px;
    display: block;
  }

  .subheading > ul > li {
    margin-bottom: 15px;
  }

  .girl {
    margin: -100px 0;
    animation: girlBounces 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}
@keyframes girlBounces {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 10px, 0);
  }
}
//============================================ ABACUS SECTION ==============================================

.abacus-section {
  @include bg("abacus-section-bg.svg");
  padding: 70px 0 20px;

  .h2 {
    margin-bottom: 40px;
  }

  &__text {
    font-size: 25px;
    line-height: 41px;
  }

  &__abacus {
    margin-top: -50px;
  }
}
//============================================ ABACUS SECTION ==============================================

.monitor-section {
  padding: 0;

  .h2 {
    margin-top: 50px;
    margin-bottom: 90px;
  }
  @at-root {
    .monitor-list {
      margin-bottom: 70px;

      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 45px;

        &:nth-child(odd) {
          .monitor-list__number {
            color: white;
            border-color: white;
          }
        }

        &:nth-child(even) {
          .monitor-list__number {
            color: #fed752;
            border-color: #fed752;
          }
        }
      }

      &__number {
        font-size: 70px;
        min-width: 82px;
        height: 82px;
        border-style: dashed;
        border-width: 3px;
        border-radius: 50%;
        text-align: center;
        line-height: 78px;
        margin-right: 33px;
      }

      &__heading {
        font-size: 22px;
        display: block;
        margin-bottom: 13px;
      }

      &__subheading {
        font-size: 19px;
        font-family: Bloggersans;
      }
    }
  }
}
//============================================ WHO TEACHES SECTION ==============================================

.who-teaches-section {
  @include bg("who-teaches-section-bg.svg");
  padding: 70px 0 100px;

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h2 {
    margin-bottom: 40px;

    .zig-zag {
      &::after {
        background: url("../img/zig-zag.svg");
      }
    }
  }

  .dashed-block {
    max-width: 465px;
  }

  .teacher-name {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .teacher-info {
    display: block;
    max-width: 254px;
    margin-bottom: 20px;
    line-height: 17px;
    font-size: 14px;
  }

  .teacher-text {
    line-height: 23px;
    max-width: 422px;
  }
}
//============================================ RICES SECTION ==============================================

.prices-section {
  padding-bottom: 120px;

  .tooltip {
    display: none;
    cursor: initial;
    border: 3px solid #f2c50d;
    color: $text;
    background-color: #fff;
    position: absolute;
    width: 300px;
    bottom: 27px;
    left: 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);

    ul {
      list-style: initial;
      margin-left: 10px;
      font-size: 14px;

      li {
        margin-bottom: 5px;
      }
    }

    .tt-close {
      position: absolute;
      width: 20px;
      right: 11px;
      top: 11px;
      cursor: pointer;
    }
  }

  .link {
    .tooltip {
      display: block;
    }
  }

  .h2 {
    margin-bottom: 120px;
  }

  &__inner {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 15px;
  }

  .prices-item {
    background-color: #fff;
    padding: 23px;
    max-width: 365px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.25);
    margin: 0 15px;

    &:nth-child(even) {
      margin-top: -60px;
    }

    &__icon {
      margin-bottom: 14px;
      text-align: center;

      img {
        height: 125px;
        width: 138px;
        object-fit: contain;
        margin: auto;
      }
    }

    &__title {
      font-size: 22px;

      &::after {
        content: "";
        display: block;
        width: 136px;
        height: 12px;
        background: url("../img/zig-zag.svg") no-repeat;
        background-size: contain;
        margin: 10px auto auto;
      }
    }

    &__list {
      font-family: Bloggersans;
      line-height: 24px;
      margin-bottom: 10px;
      text-align: left;
      list-style: initial;
      margin-left: 20px;

      li {
        margin-bottom: 10px;
      }
    }

    &__price {
      font-family: Pribambas;
      font-size: 35px;
      letter-spacing: 0.03em;
      display: block;
      margin-bottom: 18px;
    }

    .arif-btn {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
//============================================ FAQ SECTION ==============================================

.faq-section {
  .h2 {
    margin-bottom: 20px;
  }

  &__subheading {
    text-align: center;
    font-family: Pribambas;
    font-size: 25px;
    letter-spacing: 0.03em;
    color: $blue;
    margin-bottom: 70px;
  }

  &__inner {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
  }

  &__row {
    margin-bottom: 100px;
    align-items: center;

    &:nth-child(1n) {
      .question {
        &::before {
          border-color: #ffab7c;
        }

        path {
          stroke: #ffab7c;
        }
      }
    }

    &:nth-child(2n) {
      .question {
        &::before {
          border-radius: 50%;
          border-color: #fed752;
        }

        path {
          stroke: #fed752;
        }
      }
    }

    &:nth-child(3n) {
      .question {
        &::before {
          border-color: #be8daa;
        }

        path {
          stroke: #be8daa;
        }
      }
    }

    &:nth-child(4n) {
      .question {
        &::before {
          border-color: #69c9f5;
          border-radius: 50%;
        }

        path {
          stroke: #69c9f5;
        }
      }
    }
  }

  .question {
    font-size: 22px;
    display: flex;
    position: relative;
    padding-left: 90px;

    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-70%);
      z-index: 1;
      opacity: 0.5;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      display: inline-block;
      min-width: 56px;
      height: 56px;
      border-width: 10px;
      opacity: 0.9;
      border-style: solid;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .answer {
    line-height: 21px;
    font-size: 15px;
  }

  &--expand {
    width: 100%;
    background: #c8edff;
    margin-bottom: 38px;

    &:hover {
      box-shadow: 0 0 19px 0 #82adff;
      background-color: rgba(82, 142, 255, 0.92);
      color: #fff;
    }
  }

  .faq-text {
    display: block;
    text-align: center;
    font-family: Bloggersans;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &--btn {
    margin: auto;
    display: block;
  }
}
//============================================ FOOTER ==============================================

.footer {
  padding-bottom: 85px;
  @include bg("footer-bg.svg");
  background-color: $blue;

  &__full-logo {
    position: relative;
    z-index: 2;

    img {
      margin-top: -100px;
      max-width: 640px;
    }
  }

  &__contacts {
    a,
    span {
      color: $text;
      line-height: 27px;
      font-size: 22px;
      letter-spacing: 0.03em;
      font-family: Pribambas;
      display: block;
      margin-bottom: 5px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 45px;
    margin-top: 20px;

    &::after {
      content: "";
      display: block;
      width: 209px;
      height: 12px;
      background: url("../img/social-zig-zag.svg");
      position: absolute;
      background-size: cover;
      bottom: -20px;
    }

    a {
      padding: 5px 10px;
      margin: 0 3px;
    }

    &__icon {
      width: 22px;
      height: 22px;
    }
  }

  .share-text {
    line-height: 27px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    max-width: 336px;
    display: block;
    margin: 25px auto 20px;
  }

  .copyright {
    line-height: 27px;
    font-size: 22px;
    letter-spacing: 0.03em;
  }

  .ongalaxy-link {
    color: #fff;
    text-decoration: underline;
  }
}
//=================================================================

.rasr-section {
  padding: 100px 0 0;
  background-color: #FFC501;
  color: #fff;
}

.rasr-section h2 {
  margin-bottom: 57px;
}

.rasr-section .arif-btn {
  margin: auto;
  display: block;
  background: #c8edff;
}

.rasr-section .arif-btn:hover {
  color: #fff;
  background: #05A5EF;
}

.rasr-section__subheading {
  text-align: center;
  font-size: 25px;
  line-height: 41px;
}

.rasr-section > .section-clouds {
  margin-top: 69px;
}

.above-clouds {
  position: relative;
  z-index: 2;
}

.with-clouds {
  position: relative;
}

.clouds {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .cloud {
    transform: translateX(-100%);
    position: absolute;
    animation: animateCloud 35s linear infinite;
    opacity: 0;
  }

  .cloud-1 {
    top: 25%;
  }

  .cloud-2 {
    top: 50%;
    animation-delay: 15s;
  }

  .cloud-3 {
    top: 70%;
    animation-delay: 24s;
  }
}
@keyframes animateCloud {
  0% {
    transform: translateX(0);
    //left: 0;
  }

  3% {
    opacity: 1;
  }

  97% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    //left: 100%;
    transform: translateX(100vw);
  }
}
//==========================================================

.balloon {
  animation-name: wobble;
  //animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
  transform-origin: center 131px;
  width: 106px;
  position: absolute;
  bottom: 30px;

  &__thread {
    transform: rotate(90deg);
    position: relative;
    left: -91px;
    top: -7px;
  }
}

.balloon-wrapp {
  pointer-events: none;
  animation-name: balloonUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 100s;
  z-index: 2;
  position: absolute;
  opacity: 0;
}
@keyframes balloonUp {
  0% {
    top: 100%;
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 0;
  }
}
@keyframes wobble {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotateY(0deg);
  }
}
//===============================

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
}

.video-start {
  img {
    display: none;
  }

  .video {
    display: block;
  }
}
//===============

.link {
  color: $blue;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
  position: relative;
}

.white--btn {
  margin: auto;
  display: block;
  background-color: #fff;
  position: relative;
  z-index: 10;
  margin-top: 40px;
}

.modules {
  display: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  bottom: 30px;
  z-index: 100;
  border: 3px solid $blue;
  padding: 30px;
  background-color: #fff;

  &__body {
    position: fixed;
    top: 93px;
    bottom: 0;
    overflow-y: scroll;
    bottom: 30px;
  }

  .close-btn {
    width: 30px;
    top: 30px;
    position: fixed;
    right: 30px;
    z-index: 10;
    cursor: pointer;
  }

  p {
    font-family: Bloggersans;
    margin-top: 20px;
  }

  .heading {
    margin-bottom: 30px;
    font-size: 31px;
    //margin-top: 30px;
  }

  .module-item {
    margin-bottom: 35px;

    &__head {
      margin-bottom: 15px;
      font-size: 21px;
    }

    &__body {
      padding-left: 20px;
      font-size: 20px;
    }

    li {
      line-height: 34px;
      margin-bottom: 8px;
    }
  }
}
@import "media"; // Always at the end